/** Daily CVE Page Styles **/
:root {
  --font-size: 1em;
  --font-size-lg: 1.2em;
  --filter-container-width: 32em;
}

.daily-cve-container {
  background-color: #b8c6db;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/** Daily Vulnerability Filter Panel **/

.daily-cve-filter-container {
  background-color: #ffffff;
  border-radius: 0px 25px 25px 0px;
  height: calc(30em - 12px);
  left: 0;
  max-height: calc(30em - 12px);
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 30%;
  transition: 0.3s;
  width: 1.5em;
  z-index: 1;
}

.daily-cve-filter-container .active {
  width: var(--filter-container-width);
}

.daily-cve-filter-content {
  border: 2px solid #d3d3d3;
  height: inherit;
  max-width: calc(var(--filter-container-width) - 2.5em);
}

.daily-cve-filter-content > div {
  max-width: inherit;
}

.daily-cve-search-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 1em auto;
  height: 2.5em;
  overflow: hidden;
  text-align: center;
}

.daily-cve-search-container > input {
  background-color: #f9f9f9;
  border: 0;
  height: inherit;
}

.daily-cve-search-container > i {
  font-size: 1em;
  position: absolute;
  top: 0.7em;
}

.daily-vuln-search-icon {
  margin-right: -1em;
  left: 0.7em;
}

.daily-cve-search-container > .daily-vuln-search-cancel-icon {
  font-size: 1.5em;
  top: 0.4em;
}

.daily-cve-search-container:focus-within > i {
  display: none;
}

.daily-vuln-filter-btns {
  width: 96.65%;
}

.daily-vuln-filter-btn {
  background-color: #ffff;
  border: 2px solid #f7f7f7;
  border-bottom: 0px;
  color: #444;
  cursor: pointer;
  font-size: var(--font-size-lg);
  height: 4em;
  width: 99.1%;
  text-align: left;
  outline: none;
}

.daily-vuln-filter-checkbox {
  float: left;
  left: 0.75em;
  position: relative;
  top: 1.3em;
}

.daily-vuln-filter-btn > span {
  display: inline-block;
  font-weight: bold;
  margin: var(--font-size-lg) 0em 0em calc(var(--font-size-lg) * 1.25);
  position: relative;
}

.daily-vuln-filter-btn > i {
  float: right;
  position: relative;
  top: 0.4em;
  right: 0.3em;
}

.daily-cve-filter-btn {
  background-color: #213d55;
  border: 0px;
  color: #ffffff;
  height: 100%;
  min-width: 2em;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
}

/** Daily CVE Panels **/
.nvip-daily-cve-panel-container {
  margin: 0em auto 0em auto;
}

.nvip-daily-cve-panel-container > .daily-cve-panel {
  margin: 1em auto;
}

.daily-cve-panel {
  border: 2px solid #d3d3d3;
  border-radius: 25px;
  background-color: #ffffff;
  max-width: 750px;
  padding-bottom: 1em;
}

.daily-cve-date {
  font-size: 150%;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

.daily-cve-counts {
  box-sizing: border-box;
  display: inline-block;
}

.daily-cve-counts > p {
  font-weight: bold;
}

.daily-vuln-dropdown-button {
  border: 2px solid #f7f7f7;
  border-bottom: 0px;
  color: #444;
  cursor: pointer;
  font-weight: bold;
  height: 8em;
  outline: none;
  padding: 0.5em 1.5em;
  text-align: left;
}

.daily-vuln-dropdown:last-child .daily-vuln-dropdown-button {
  border: 2px solid #f7f7f7;
}

.daily-vuln-dropdown-button > span {
  display: inline-block;
  font-weight: bold;
  max-width: 90%;
  margin-top: calc(0.6em - 2px);
  position: relative;
}

/** Daily Vulnerability Directive Styles **/
.daily-vuln-dropdown-button .vuln-vdo-label:first-child:before {
  color: #000000;
  content: " : ";
}

.daily-vuln-dropdown-button .vuln-vdo-label {
  text-transform: capitalize;
}

.daily-vuln-dropdown-button .vuln-vdo-label:after {
  color: #000000;
  content: ",";
}

.daily-vuln-dropdown-button .vuln-vdo-label:last-child:after {
  content: "";
}

/** Temp VDO Label styling **/
.daily-vuln-dropdown-row-2 .vuln-vdo-label {
  text-transform: capitalize;
}

.daily-vuln-dropdown-row-2 .vuln-vdo-label:after {
  color: #000000;
  content: ",";
}

.daily-vuln-dropdown-row-2 .vuln-vdo-label:last-child:after {
  content: "";
}

/** End Daily Vulnerability Directive Styles**/

[class^="daily-vuln-dropdown-row-"] {
  max-height: var(--font-size);
  max-width: calc(100% - 2em);
}

.daily-vuln-dropdown-row-1 > span {
  font-size: var(--font-size);
}

.is_present {
  border-color: #4cff20 !important;
}

.daily-vuln-dropdown-row-2,
.daily-vuln-dropdown-row-3 {
  font-size: calc(0.9 * var(--font-size));
  margin: 0.8em 0em 0em 2em;
}

.daily-vuln-dropdown-button > i {
  float: right;
  font-weight: bold;
  font-size: 3em;
  margin-top: -1.6em;
  position: relative;
}

.daily-vuln-content {
  background-color: #f7f7f7;
  display: flex;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

.daily-vuln-content > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.daily-vuln-description > p:first-child {
  font-weight: bold;
  font-size: 1em;
  margin: 0.5em 0em 0.5em 1em;
}

.daily-vuln-description > p:last-child {
  margin-left: 1em;
}

.daily-vuln-info {
  flex-direction: row;
}

.daily-vuln-info > div {
  flex-direction: column;
  max-width: 50%;
}

.daily-vuln-info > div:first-child {
  padding-left: 1em;
}

.daily-vuln-info > div > p:first-child {
  font-weight: bold;
  min-height: 1em;
}

.daily-vuln-info > div > p:last-child {
  min-height: 1em;
}

.daily-vuln-detail > a {
  color: #d9895d;
  font-weight: bold;
  margin: auto;
  padding-bottom: 1.5em;
}

.nvip-daily-vuln-button-container {
  text-align: center;
}

.nvip-daily-vuln-button-container .nvip-button {
  margin: 0em auto;
}

/** Old Vulnerability table styles **/

.daily-cve-table {
  background-color: #f7f7f8;
  border-collapse: collapse;
  margin-bottom: 2em;
}

.daily-cve-table td {
  height: 3em;
  max-width: 15em;
  width: 8em;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nvip-loading-screen {
  text-align: center;
}

/** Media Queries **/
@media screen and (min-width: 1000px) {
  :root {
    --font-size: 1.3em;
  }

  .daily-cve-filter-container {
    border-radius: 25px;
    left: 3.5%;
    width: var(--filter-container-width);
  }

  .daily-cve-filter-content {
    max-width: var(--filter-container-width);
  }

  .daily-cve-filter-btn {
    visibility: hidden;
  }

  .daily-cve-panel {
    font-size: var(--font-size);
    max-width: 100%;
  }

  .nvip-daily-cve-panel-container {
    margin-left: var(--filter-container-width);
    width: 75%;
  }

  .daily-vuln-dropdown-row-1 {
    font-size: calc(0.75 * var(--font-size));
  }

  .daily-vuln-dropdown-icon-box > img {
    height: 1.7em;
    width: 1.7em;
  }

  .daily-vuln-dropdown-row-2,
  .daily-vuln-dropdown-row-3 {
    font-size: calc(0.75 * var(--font-size));
    margin-top: 0.5em;
  }
}
